/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(95, 95, 93);
    color: antiquewhite;
    padding: 10px 20px;
  }
  
  .logo {
    width: 120%;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100%;
  }
  
  .navleft {
    display: flex;
    list-style: none;
  }
  
  .navleft li {
    padding: 10px;
  }
  
  .navleft li a {
    text-decoration: none;
    color: rgb(240, 245, 240);
  }
  
  .rightNav {
    display: flex;
    align-items: center;
  }
  
  #search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid salmon;
    width: 100%;
    max-width: 300px;
  }
  
  .active,
  .navbar li:hover {
    background-color: blueviolet;
  }
  
  /* Slideshow styles */
  .slideshow-container {
    position: relative;
    margin: auto;
    max-width: 1000px;
  }
  
  .mySlides {
    display: none;
    width: 100%;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0,0,0,1);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position:absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @media only screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    
    .logo {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
   
    }}